* {
    padding: 0px;
    margin: 0px;

    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.primary-btn {
    background-color: #FF5400;
    width: 117px;
    height: 52px;
    border: none;
    border-radius: 7px;
    color: #fff;
}

/* nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 42px;
}

.logo-div {
    display: flex;
    align-items: center;
}

.logo-img {}


.logo-name {}

.menu {}

.menu>ul {
    display: flex;
    align-items: center;
}

.menu>ul>li {
    list-style: none;
}

.menu>ul>li>a {
    text-decoration: none;
    padding: 0px 10px;
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

/* Bannar */

.bannar-div {
    width: 1170px;
    height: 500px;
    border: 1px solid #fff;
    margin: auto;
    background-image: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    border-radius: 16px;
    text-align: center;
}

.bannar-div>h1 {
    color: #fff;
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 800;
}

.bannar-div>p {
    color: #fff;
    margin-bottom: 20px;
}


form {}

.form {}

.form-input {
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.col {
    background-color: #FF5400;

}

/* Our Popular Tours */

.popular-div {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0px 53px
}

.popular-content {}

.popular-content>p {
    width: 525px;
    padding-bottom: 50px;
    color: #131318B2;

}

.popular-content>ul {
    width: 525px;
    padding-bottom: 50px;
    color: #131318B2;

}

.popular-content>ul {
    width: 525px;
    padding-bottom: 10px;
    color: #131318B2;
}

.popular-img {}



/* help div */

.help-div {
    height: 600px;
    width: 1170px;
    background-image: url('./Images/gggggg-min.jpg');
    background-repeat: no-repeat;
    background-position: top;
    margin-top: 100px;
    margin: auto;
    border-radius: 10px;
}

.help-div>img {
    width: 1170px;
    height: 500px;
}

.help-content {
    height: 250px;
    width: 100px;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 200px;
    padding: 60px;
    text-align: center;
    box-shadow: 4px 4px 5px;

}

.help-containar {
    display: flex;
    justify-content: center;
    gap:20px;

}

.help-heading {
    color: #ffffff;
    height: 100px;
    width: 500px;
    margin: auto;
    text-align: center;
    background-color: rgba(45, 40, 40, 0.5);

}

/* destination */

.destination-div {}

.destination-title {
    width: 400px;
    height: auto;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 20px;
}

.destination-image-contanir {
    display: flex;
    justify-content: space-between;
    padding: 0px 49px;
    margin-top: 10px;
}

.image1 {
    width: 573px;
    height: 300px;
    background-image: url('./Images/Rectangle 5.png');
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.image2 {
    width: 573px;
    height: 300px;
    background-image: url('./Images/Rectangle 8.png');
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.colums-div {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;


}

.image3 {
    width: 374px;
    height: 286px;
    background-image: url('./Images/Rectangle\ 6.png');
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image4 {
    width: 474px;
    height: 286px;
    background-image: url('./Images/Rectangle\ 7.png');
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image5 {
    width: 274px;
    height: 286px;
    background-image: url('./Images/Rectangle\ 9.png');
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image6 {
    width: 937px;
    height: 300px;
    color: #fff;
    background-image: url('./Images/Rectangle\ 10.png');
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;

}


.image7 {
    width: 645px;
    height: 300px;
    color: #fff;
    background-image: url('./Images/Rectangle\ 11.png');
    display: flex;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

/* Why Choose Us */

.coose-title {
    width: 643px;
    margin: auto;
    margin-top: 50px;

    text-align: center;
    margin-bottom: 100px;
}

.coose-title>h1 {
    font-size: 46px;
    font-weight: 800;
    color: #0b0b0f;
}

.coose-title>p {

    font-size: 16px;

    color: rgba(19, 19, 24, 0.70);
    margin-top: 20px;
    text-align: center;
}

.choose-containar {
    display: flex;
    justify-content: space-between;
    padding: 0px 41px;
}

.chooce-contant-left {
    width: 573px;
    height: 284px;
    background-color: rgba(219, 125, 19, 0.05);

    box-shadow: 4px 4px 5px;
    border-radius: 10px;
    padding: 5px;

}

.chooce-contant-left>h1 {
    font-size: 46px;
    font-weight: 800;
    color: #0b0b0f;
}

.chooce-contant-left>p {
    width: 350px;
    font-size: 16px;

    color: rgba(19, 19, 24, 0.70);
    margin-top: 20px;
}


.chooce-contant-left>img {
    height: 70px;
    width: 70px;
}

.chooce-contant-right {
    width: 573px;
    height: 284px;
    background: rgba(82, 153, 171, 0.05);

    box-shadow: 4px 4px 5px;
    border-radius: 10px;
    padding: 5px;


}


.chooce-contant-right>h1 {

    font-size: 46px;
    font-weight: 800;
    color: #0b0b0f;
}

.chooce-contant-right>P {
    width: 350px;
    font-size: 16px;

    color: rgba(19, 19, 24, 0.70);
    margin-top: 20px;
}

.chooce-contant-right>img {
    height: 70px;
    width: 70px;
}

.chooce-contant-center {
    width: 573px;
    height: 284px;
    background-color: rgba(219, 125, 19, 0.05);

    box-shadow: 4px 4px 10px;
    border-radius: 10px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}

.chooce-contant-center>img {
    height: 70px;
    width: 70px;
}

.chooce-contant-center>p {
    width: 350px;
    font-size: 16px;

    color: rgba(19, 19, 24, 0.70);
    margin-top: 20px;
}

.chooce-contant-center>h1 {
    font-size: 46px;
    font-weight: 800;
    color: #0b0b0f;
}

/*  */

.deals-div {
    width: 643px;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.deals-div>h1 {
    font-size: 46px;
    font-weight: 800;
    color: #0b0b0f;
}

.deals-div>p {
    font-size: 16px;
    color: rgba(19, 19, 24, 0.70);
    margin-top: 20px;

}



/* tour-div */

.tour-div {

    width: 1170px;
    height: 500px;
    background-image: url('./Images/Group\ 39.png');
    margin: auto;
    margin-top: 50px;

}


.tour-div-content {
    width: 579px;
    height: 389px;
    background-color: rgba(255, 250, 250, 0.5);
    margin-left: 350px;
    border-radius: 5px;
    box-shadow: 4px 4px 10px;
    border: 1px solid #ddd;
    margin-top: 50px;

}


.li-item>ul {
    display: flex;
    list-style: none;
    padding: 0px 10px;
    padding-top: 20px;
}

.li-item>ul>li {
    padding: 0px 10px;
    color: #FF5400;
}

.li-item>h1 {
    font-size: 24px;
    font-weight: 800;
    color: #0b0b0f;
    padding: 0px 10px;
    margin-top: 40px;
}

.li-item>p {
    font-size: 16px;
    color: rgba(19, 19, 24, 0.70);
    margin-top: 40px;
    width: 400px;
    margin-left: 10px;

}

.price {}

.price {
    font-weight: 800;
    font-size: 20px;
    color: #FF5400;
    margin-left: 10px;
}

.Packages {
    background-color: #FF5400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 10px;

    display: flex;
    justify-content: center;
}


/* video-content */



.video-div {}

.video-content {}

.video {
    width: 610px;
    height: 424px;
}


.video {
    width: 610px;
    border-radius: 10px;
}

/* newsletter-section */

.news-letter-div {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}


.newsletter-content {
    width: 474px;
    height: 298px;
    border: 1px solid #FF5400;
    margin-left: 53px;
    border-radius: 5px;
    box-shadow: 4px 4px 5px;
}

.newsletter-content>h1 {
    font-weight: 800;
    font-size: 24px;


}

.newsletter-content>p {
    font-weight: 400;
    font-size: 16px;
    color: #5A5A5D;
}


.text {
    border: none;
    padding: 10px 20px;
    background-color: rgba(19, 19, 24, 0.05);
    margin-top: 4px;
    border-radius: 5px;

}

.textt {
    padding: 10px 70px;
    background-color: #FF5400;
    color: #fff;
    margin-top: 4px;
    border-radius: 5px;
    border: none;
}

.newsletter-image {
    width: 672px;
    height: 422px;
    background-image: url(./Images/Rectangle\ 8\.png);
    background-repeat: no-repeat;
    margin-left: 128px;
    text-align: center;
}

.hr {
    margin-left: 20px;
    margin-top: 20px;
}

.card {
    width: 224px;
    height: 100px;
    background-color: #FF5400;
    transform: rotate(-30deg);
    transform-origin: top right;
    text-align: center;
    border-radius: 10px;
    margin-top: 100px;
    margin-left: 300px;

}

/* footer */

footer {
    background: rgba(19, 19, 24, 0.05);
    width: 1200px;
    height: 212px;
    padding: 100px 56px;

}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

section>p {
    font-size: 16px;
    font-weight: 400;
    width: 483px;
    color: rgba(19, 19, 24, 0.70);
    margin: auto;
    text-align: center;
}

.social-icon {}

.social-icon>ul {
    display: flex;
    justify-content: center;
    margin-top: 20px;


}

.social-icon>li {}

.social-list-icon {
    list-style: none;
    padding: 10px;
    text-align: center;
}


/* Responsiv */
@media screen and (max-width:576px) {
    body {
        width: 375px;
    }

    nav {
        flex-direction: column;
    }

    /* bannar */
    .bannar-div {
        width: 335px;
        margin: auto;
    }

    .form-input {
        margin-top: 5px;
    }

    /*  */
    .popular-div {
        flex-direction: column;
        padding: 0px 0px
    }

    .popular-content {}

    .popular-content>p {
        width: 335px;
    }

    .popular-content>ul {
        width: 335px;
    }

    .popular-img {
        width: 335px;
        margin-top: 10px;
    }

    .help-div {
        width: 335px;
        margin: auto
    }

    .help-heading {
        width: 335px;
    }

    .help-containar {
        flex-direction:column;
        
        
    }

    .destination-title {
        width: 335px;
    }

    .destination-image-contanir {
        flex-direction: column;
        width: 335px;
        padding: 0px 0px;
    }

    .image1 {
        width: 335px;
        height: 176px;
    }

    .image2 {
        width: 335px;
    }

    .colums-div {
        flex-direction: column;
    }

    .image3 {
        width: 335px;
    }

    .image4 {
        width: 335px;
    }

    .image5 {
        width: 335px;
    }

    .image6 {
        width: 335px;
    }

    .image7 {
        width: 335px;
    }

    /* c */
    .coose-title {
        width: 335px;
    }

    .choose-containar {
        flex-direction: column;
        width: 335px;
    }

    .chooce-contant-right {
        width: 335px;
    }

    .chooce-contant-left {
        width: 335px;
    }

    .chooce-contant-center {
        width: 335px;
    }

    .deals-div {
        width: 335px;

    }

    .tour-div {
        width: 335px;
        height: 500px;
    }

    .tour-div-content {
        width: 303px;
        height: 360px;
        margin-left: 0px;
        margin-top: 0px;
    }

    .li-item>p {
        width: 254px;
    }

    .li-item>ul {
        flex-direction: column;
    }

    .video {
        width: 335px;
        height: 200px;
    }

    /* newsleter */



    .news-letter-div {
        flex-direction: column;
    }

    .newsletter-image {
        width: 477px;
        height: 300px;
        margin-left: 0px;
    }

    .newsletter-content {
        margin-left: 0px;
    }
    .card{
        width: 214.023px;
        height: 79.268px;
        transform: rotate(-19.628deg);
        
    }

    footer{
        width: 375px;
height: 309px;
    }
    section>p{
        width: 287px;
    }

    hr{
        width: 335px;
height: 1px;
    }

    .menu>ul>li>a {
        padding: 0px 0px;
    }
.h{
    visibility: hidden;
}
}